
@{
    ViewBag.Title = "Index";
    ViewBag.Username = "Username";
    ViewBag.TenKhachHang = "TenKhachHang";
    ViewBag.NgaySinh = "NgaySinh";
    ViewBag.DiaChi = "DiaChi";
    ViewBag.Sdt = "Sdt";
}

<div class="container">
    <h2>Khach Hang</h2>
    <hr />
    <form id="form-information">
        <div class="form-group">
            <label for="tenkhachhang">Username</label>
            <input type="text" value="@ViewBag.Username" disabled class="form-control" name="username" />
        </div>
        <div class="form-group">
            <label for="tenkhachhang">Ten Khach Hang</label>
            <input type="text" value="@ViewBag.TenKhachHang" disabled class="form-control" name="tenkhachhang"/>
        </div>
        <div class="form-group">
            <label for="tenkhachhang">Ngay Sinh</label>
            <input type="date" value="@ViewBag.NgaySinh" disabled class="form-control" name="ngaysinh" />
        </div>
        <div class="form-group">
            <label for="tenkhachhang">Dia Chi</label>
            <input type="text" value="@ViewBag.DiaChi" disabled class="form-control" name="diachi"/>
        </div>
        <div class="form-group">
            <label for="tenkhachhang">Sdt</label>
            <input type="text" value="@ViewBag.Sdt" disabled class="form-control" name="sdt"/>
        </div>
        <div class="btn btn-group">
            <button role="button" type="button" class="btn btn-primary" id="btnCapNhat">Cap Nhat</button>
            <button role="button" type="button" class="btn btn-primary" id="btnLuu" style="display:none;">Luu</button>
        </div>
    </form>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/userview.js"></script>

