@model PhanTan_ASP.Models.KhachHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rowguid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rowguid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiNhanh1.TenCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiNhanh1.TenCN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
