@model PhanTan_ASP.Models.TKTK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TKTK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoDu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KyHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KyHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaiSuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaiSuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rowguid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rowguid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiNhanh1.TenCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiNhanh1.TenCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang1.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang1.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TKTT.KhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TKTT.KhachHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
