@model IEnumerable<PhanTan_ASP.Models.TKTK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoDu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KyHan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaiSuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rowguid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiNhanh1.TenCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang1.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TKTT.KhachHang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoDu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KyHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaiSuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayHetHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rowguid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiNhanh1.TenCN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang1.Hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TKTT.KhachHang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
