<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/master.css")
    @Styles.Render("~/Content/mainpage.css")
</head>
<body>
    <div class="my-nav">
        <div class="div-logo" style="border-bottom: 1px solid black;">
            @Html.ActionLink("TUIBANK", "Index", "Home",null,new { @class = "logo"})
        </div>
        <ul class="nav-ul">
            <li>@Html.ActionLink("Khach Hang","Main","Customers")</li>
            <li>@Html.ActionLink("Tai Khoan", "Main", "Accounts")</li>
            <li>@Html.ActionLink("Dang Xuat", "DangXuat", "Login",null,new { @class = "text-red"})</li>
        </ul>
    </div>
    <div class="my-body" style="padding: 2em;">
        @RenderBody()
    </div>
    <footer>&copy; TUIBANK - 2019</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
